<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/autor"></ion-back-button>
    </ion-buttons>
    <ion-title>curriculum Vitae</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>- Certif. Lenguas Extranjeras</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>- Seminarios en varias provincias de Argentina</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>- 5000 ejemplares vendidos en la provincia de<br>Buenos Aires</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>- Trabajos con editoriales internacionales</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>- 400 ventas en todas las librerias de Capital<br>Federal</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
