<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Autor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header color="dark">
      <div class="persona">
        <ion-icon name="man-outline"></ion-icon>
      </div>
      <ion-card-title>Esteban Echeverria</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Escritor y Poeta argentino, que introdujo el romanticismo en el pais. Nacido el 2 de septiembre de 1805 en la provincia de Buenos Aires,y fallecio el 19 de enero de 1851, a causa de una tuberculosis.
    </ion-card-content>
    <ion-button expand="block" routerLink="/curriculum-autor" color="success">Curriculum Vitae</ion-button>
    <ion-button expand="block" color="success">Email: Echeverria@gmail.com <a href="mailto:Echeverria@gmail.com"></a></ion-button>
    <ion-button expand="block" color="success">Instagram: <a href="https://www.instagram.com/esteban_echeveria37/"></a>@Esteban_echeverria37</ion-button>
    <ion-button expand="block" color="success">Nro.Telefono: 11 935684</ion-button>
  </ion-card>



  <ion-card>
    <ion-card-header color="dark">
      <div class="persona">
        <ion-icon name="man-outline"></ion-icon>
      </div>
      <ion-card-title>Homero</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Homero fue un poeta que en el antiguo griego se conoce como (Ὅμηρος Hómēros; ca. siglo VIII a. C.), el poeta es autor y reconocido por dos grandiosos poemas épicos griegos: la Ilíada y la Odisea.
    </ion-card-content>
    <ion-button expand="block" color="success">Año de nacimiento:  siglo VIII a. C.</ion-button>
    <ion-button expand="block" color="success">Año de fallecimiento: siglo VIII a. C.</ion-button>
  </ion-card>


  <ion-card>
    <ion-card-header color="dark">
      <div class="persona">
        <ion-icon name="man-outline"></ion-icon>
      </div>
      <ion-card-title>Julio Florencio Cortázar</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Julio Florencio Cortázar (Ixelles, 26 de agosto de 1914-París, 12 de febrero de 1984) 
      fue un escritor y traductor argentino;
       este último oficio lo desempeñó para la Unesco y varias editoriales. 
       Sin renunciar a su nacionalidad argentina, optó por la francesa en 1981,
        en protesta contra la dictadura militar en su país,
         que lo persiguió y prohibió y que él denunció a la prensa internacional 
         desde su residencia en París.
    </ion-card-content>
    <ion-button expand="block" color="success">Fecha de nacimiento: 26 de Agosto de 1914</ion-button>
    <ion-button expand="block" color="success">Lugar de nacimiento:Bruselas, Bélgica</ion-button>
    <ion-button expand="block" color="success">Fecha de fallecimiento: 12 de Febrero de 1984</ion-button>
    <ion-button expand="block" color="success">Lugar de fallecimiento: París, Francia</ion-button>
    <ion-button expand="block" color="success">Nacionalidad: Argentina</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header color="dark">
      <div class="persona">
        <ion-icon name="man-outline"></ion-icon>
      </div>
      <ion-card-title>Jorge Francisco Isidoro Luis Borges</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      más conocido como Jorge Luis Borges, fue un destacado escritor de cuentos, 
      poemas y ensayos argentino, 
      extensamente considerado una figura clave tanto para la literatura en habla 
      hispana como para la literatura universal.<br>
      También fue bibliotecario, profesor, conferencista, crítico literario y traductor.
    </ion-card-content>
    <ion-button expand="block" color="success">Fecha de nacimiento: 24 de agosto de 1899</ion-button>
    <ion-button expand="block" color="success">Lugar de nacimiento: Buenos Aires, Argentina</ion-button>
    <ion-button expand="block" color="success">Fecha de fallecimiento: 14 de junio de 1986</ion-button>
    <ion-button expand="block" color="success">Causa de muerte: Cáncer de hígado</ion-button>
    <ion-button expand="block" color="success">Nacionalidad: Argentina</ion-button>
  </ion-card>
</ion-content>