ion-title{
    text-align: center;
}
ion-card-title{
    text-align: center;
}
ion-card-content{
    margin-top: 5%;
    text-align: center;
}
a{
    text-decoration: none;
}
.persona{
    text-align: center;
}
ion-icon{
    background: none;
    width: 3em;
    height: 3em;
}