<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    <ion-card-header color="tertiary">
      <div class="icon-inicio"><ion-icon name="happy-outline"></ion-icon></div>
      <ion-card-title>Bienvenidos a Biblioteca</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     En esta sección encontrarás una biblioteca virtual con varios títulos de novelas hasta poemas. Para acceder a ella, pulse el boton siguiente.
    </ion-card-content>
    <ion-button expand="block" color="primary" routerLink="/lista-libros">Acceda aqui!</ion-button>
  </ion-card>

  <hr>

  <ion-card>
    <ion-card-header color="tertiary">
      <div class="info"><ion-icon name="information-circle-outline"></ion-icon></div>
      <ion-card-title>Informacion sobre El autor</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     Encontrarás sus respectivos nombres,edad, año de publicacion,etc.
    </ion-card-content>
    <ion-button expand="block" color="primary" routerLink="/autor">Acceda aqui!</ion-button>
  </ion-card>
</ion-content>
