ion-title{
    text-align: center;
}
ion-card{
    padding: 0;
    margin-top: 15%;
}
ion-card-title{
    text-align: center;
}
ion-card-content{
    margin-top: 5%;
    text-align: center;
}
.icon-inicio{
    text-align: center;
    color: gold;
}
.info{
    text-align: center;
    color: black;
}
ion-icon{
    background: none;
    width: 3em;
    height: 3em;
}