ion-title{
    text-align: center;
}
.icon{
    text-align: center;
}
.icon-libro{
    text-align: center;
    margin-top:2px;
}
ion-icon{
    background: none;
    width: 2em;
    height: 2em;
    margin: 2px;
}